@media screen and (max-width: 768px)
{


/******************* MENU ************************/
.top-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: auto;
}

.a-top-nav {
  color: #222121;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  line-height:80px;
  border-bottom: 2px solid #F2F2F2;
  width: auto;
}

.a-top-nav:active, .a-top-nav:hover {
  color: #0065FC;
  border-bottom: 2px solid #0065FC;
  border-top: 0px;
}

.topnav-right {
    margin-right: auto; 
}

#logo {
	width:100px;
    height:45px;
    margin: auto;
}

/******************* RECHERCHES  ************************/
.search-button {
  display: none;
}

.search-icon {
  display: block;
}

/******************* FILTRES ************************/
.filter-form {
  flex-direction:column;
  flex-flow: column wrap;
  flex-grow: 0;
  display: block;
}

/******************* HEBERGEMENT ************************/
#hebergement {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
}

.cards {
  order: 2;
  background-color: white;
}

.pop-cards {
  order:1;
  border-radius: 0px;
}

.heber-card {
  width: 340px;
}

.img-card {
  width: 330px;
}

/******************* ACTIVITE ************************/
#activite {
  margin: 0px;
}

.acti-block {
  flex-flow: wrap;
  align-content:flex-start;
  height: auto;
}

.activite-card {
  width: 340px;
}

.big-card, .medium-card, .small-card {
  height: 150px;
}

}