
/******************* MENU ************************/
.top-nav {
  flex-flow: row wrap;
}

.a-top-nav {
  color: #222121;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  line-height:80px;
  border-bottom: 2px solid #F2F2F2;
  width: 100%;
  text-align: center;
}

.a-top-nav:active, .a-top-nav:hover {
  color: #0065FC;
  border-bottom: 2px solid #0065FC;
  border-top: 0px;
}

.topnav-right {
    width: 100%;
}

#logo {
	width:100px;
    height:45px;
    margin: auto;
}

.active {
  border-top: 0px;
}

/******************* RECHERCHES  ************************/
.search-button {
  display: none;
}

.search-icon {
  display: block;
  width: 30px;
}

/******************* FILTRES ************************/
.filter-form {
  flex-direction:column;
  flex-flow: column wrap;
  flex-grow: 0;
  display: block;
}

/******************* HEBERGEMENT ************************/
#hebergement {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
}

.cards-template {
  order: 2;
  background-color: white;
  padding: 0;
}

.pop-cards {
  order:1;
  border-radius: 0px;
}

.heber-card {
  width: 340px;
}

.heber-card img {
  width: 330px;
}

/******************* ACTIVITE ************************/
#activite {
  margin: 0px;
}

.acti-block {
  flex-flow: wrap;
  align-content:flex-start;
  height: auto;
}

.activite-card {
  width: 340px;
}

.big-card, .medium-card, .small-card {
  height: 150px;
}

.title-activite {
  margin-bottom: 0;
  padding: 30px 0 30px 0;
}