body {
    background-color: white;
    font-family: Raleway;
    max-width: 1450px;
    margin: auto;
}

.boxing {
  padding: 10px 40px 20px 40px;
}

/******************* Global Flex ************************/

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/******************* MENU ************************/

.a-top-nav{
  color: #222121;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 0 30px 0 30px;
  line-height:120px;
}

.a-top-nav:active, .a-top-nav:hover, .active {
  color: #0065FC;
  border-top: 3px solid #0065FC;
}

.topnav-right {
    margin-left: auto; 

}

#logo {
	width:100px;
    height:45px;
    padding:30px 30px 0px 50px;
}

/******************* RECHERCHES  ************************/

.title {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.main-text {
  padding-bottom: 10px;
}

.search-form {
  margin: 10px 0px 10px 0px;
}

.search-input {
  border-width: 1px;  
  border-right: 0px;
  border-style:solid ;
  border-color:#F2F2F2;
  border: 1px 1px 1px;
  line-height:47px;
  padding-left: 10px;
  padding-right: 45px;
}

.search-input::placeholder { 
  color: black;
  font-size: 18px;
  font-weight:bolder;
  opacity: 1; 
}
.map-marker {
  font-size:  17px;
  background-color: #F2F2F2;
  padding: 15px 20px 17px 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-button, .search-icon {
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-style: none;
  background-color: #0065FC;
  padding: 14px 20px 15px 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  min-width: 30px;
}

.search-icon {
  width: auto;
  height: 17px;
  fill: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 15px 17px 19px 17px;
  margin-left: -10px;
  display: none;
}

/******************* FILTRES ************************/

.filter-form {
  margin-top: 30px;
  color: black;
  font-size: 18px;
  font-weight:bolder;
}

.filter-text {
  padding-top: 12px; 
  margin-right: 20px;
  margin-bottom: 20px;
}

.filter-form fieldset {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  margin-bottom: 10px;
  border: 0px;
}

.filter-form fieldset i {
  position: relative;
  background-color: #DEEBFF;
  color:#0065FC;
  font-size: 15px;
  padding: 17px 14px 16px 14px;
  border-radius: 50% / 50%;
  z-index: 2000;
}

.filter-form fieldset div {
  margin-left: -20px;
  z-index: 1000;
  color: black;
  background-color: white;
  font-size: 17px;
  font-weight:bolder;
  padding: 11px 40px 11px 30px;
  border-width: 2px;  
  border-style:solid ;
  border-color:#D9D9D9;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: inline-block;
}

.filter-form fieldset div:hover {
  color: #0065FC;
  background-color: #DEEBFF;
}

.filter-info {
  color:#0065FC;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 9px 6px 9px;
  margin-right: 10px;
  border-radius: 50% / 50%;
  border-width: 1px;  
  border-style:solid ;
  border-color:#D9D9D9;
}

/******************* HEBERGEMENT ************************/

.cards-template {
  margin-right: 40px;
  border-radius: 20px;
  background-color: #F2F2F2;
  padding: 40px;
}

.card-template {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none; 
  color:black;
}

.heber {
  flex: 2 100%;
  max-width: 790px;
  flex-shrink: 3;
  gap: 30px;
}

.pop-side {
  flex: 1 100%;
  max-width: 340px;
  gap: 30px;
}

.heber-card {
  width: 240px;
}

.heber-card img {
  width: 230px;
  height: 110px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  padding: 5px;
}

.pop-cards {
  max-height: 580px;
}

.pop-card {
  width: 340px;
  height: 150px;
}
.pop-card img {
  order: 1;
  width: 125px;
  height: 140px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  padding: 5px;
}


.card-desc, .pop-card-desc {
  order: 2;
  box-sizing: border-box;
  padding-left: 15px;

}

.pop-card-desc {
  flex-direction: column;
  flex: 1;
}

.card-title {
  font-size: 16px;
  font-weight:bolder;
  text-decoration: none;
}

.pad-t-10 {
  padding-top: 10px;
}

.unchecked, .checked {
  font-size: 11px;
  padding-bottom: 10px;
}

.unchecked {
  color: #F2F2F2;
}

.checked {
  color: #0065FC;
}

.chart-icon {
  position: absolute;
  width: auto; height: 17px; 
  fill: black;
  margin-left:140px;
  display: inline-block;
}

.stars-align {
  margin-top: auto;
}

/******************* ACTIVITE ************************/

.title-activite {
  padding: 40px 0px 0px 40px;
  margin-bottom: -20px;
}

.activite-cards {
  width: fit-content;
  background-color: white;
}

.acti-block {
  width: auto;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 490px;
}

.activite-card {
  width: 45%;
  margin: 0 40px 40px 0;
  text-decoration: none;
}

.activite-card img {
  width: 100%;
  height: calc(100% - 40px);
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.acti-card-desc {
  box-sizing: border-box;
  padding: 10px 0px 0px 20px;
}

.big-card {
  height: 445px;
}

.medium-card {
  height: 240px;
}

.small-card {
  height: 165px;
}


/******************* FOOTER ************************/

footer {
  background-color: #F2F2F2;
  align-content:stretch;
  gap: 15%;
  padding: 40px;
  width:auto;
}

.footer-list {
  width: auto;
  margin: 0 40px 40px 0;
}


footer ul li {
  list-style: none;
  line-height: 35px;
}

footer ul li a {
  text-decoration: none;
}