body {
    font-family: Raleway;
    /* background-color: white; */
}


form i {
  font-style: normal;
}

form input {
  /*padding: 0px;
  /*border-width: 1px;  
  border-right: 0px;*/
}

.boxing {
  padding: 10px 40px 20px 40px;
 /* box-sizing: border-box;*/
}

.topnav {
    /* position: relative; */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    /* display: -webkit-flex; */
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content:space-around; */
}
/* Style the links inside the navigation bar */
.topnav a {
  /*float: left;*/
  color: #222121;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding:48px 30px 0px 30px;
  line-height:120px;
}


/* Add a color to the active/current link */
.topnav a:active, a:hover {
  color: #0065FC;
  border-top: 3px solid #0065FC;

}

/* Right-aligned section inside the top navigation */
.topnav-right {
    margin-left: auto; 
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
}

#logo {
	width:100px;
    height:45px;
    padding:30px 30px 0px 50px;
}

.title {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.maintext {
  padding-bottom: 10px;
}

.searchForm {
  margin: 10px 0px 10px 0px;
  -ms-box-orient: horizontal;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.searchInput {
  border-width: 1px;  
  border-right: 0px;
  border-style:solid ;
  border-color:#F2F2F2;
  border: 1px 1px 1px 0px;
  line-height:47px;

  padding-left: 10px;
  padding-right: 45px;

}

.searchInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-size: 18px;
  font-weight:bolder;
  opacity: 1; /* Firefox */
}
.mapMarker {
  font-size:  17px;
  background-color: #F2F2F2;
 /* box-sizing: border-box; */
  padding: 15px 20px 17px 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.searchButton, .searchIcon {
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-style: none;
  background-color: #0065FC;
  padding: 14px 20px 15px 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.searchIcon {
  width: auto; height: 17px; 
  fill: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 15px 17px 19px 17px;
  margin-left: -10px;
  display: none;
}

.filterForm {
  margin-top: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  color: black;
  font-size: 18px;
  font-weight:bolder;

}

.filterText {
  padding-top: 12px; 
  margin-right: 20px;
  margin-bottom: 20px;
}


.filterIcon {
  position: relative;
  background-color: #DEEBFF;
  color:#0065FC;
  font-size: 15px;
  padding: 17px 14px 16px 14px;
  border-radius: 50% / 50%;
  z-index: 2000;
}

.filterButton {
  margin-left: -20px;
  z-index: 1000;
  color: black;
  background-color: white;
  font-size: 17px;
  font-weight:bolder;
  padding: 11px 40px 11px 30px;
  border-width: 2px;  
  border-style:solid ;
  border-color:#D9D9D9;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: inline-block;
}

.filterButton:hover {
  color: #0065FC;
  background-color: #DEEBFF;
}

fieldset {
  padding: 0px;
  margin-bottom: 10px;
  border: 0px;
  display: inline-block;
}