body {
    background-color: white;
    font-family: Raleway;
    max-width: 1450px;
}

form i {
  font-style: normal;
}

.boxing {
  padding: 10px 40px 20px 40px;
}

/******************* MENU ************************/
.top-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}

/* Style the links inside the navigation bar */
.a-top-nav{
  color: #222121;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 0 30px 0 30px;
  line-height:120px;
}

/* Add a color to the active/current link */
.a-top-nav:active, .a-top-nav:hover {
  color: #0065FC;
  border-top: 3px solid #0065FC;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    margin-left: auto; 
    display: flex;
}

#logo {
	width:100px;
    height:45px;
    padding:30px 30px 0px 50px;
}

/******************* RECHERCHES  ************************/
.title {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 10px;
}

.main-text {
  padding-bottom: 10px;
}

.search-form {
  margin: 10px 0px 10px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  flex-wrap: nowrap;
}

.search-input {
  border-width: 1px;  
  border-right: 0px;
  border-style:solid ;
  border-color:#F2F2F2;
  border: 1px 1px 1px 0px;
  line-height:47px;
  padding-left: 10px;
  padding-right: 45px;
}

.search-input::placeholder { 
  color: black;
  font-size: 18px;
  font-weight:bolder;
  opacity: 1; 
}
.map-marker {
  font-size:  17px;
  background-color: #F2F2F2;
  padding: 15px 20px 17px 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.search-button, .search-icon {
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-style: none;
  background-color: #0065FC;
  padding: 14px 20px 15px 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-icon {
  width: auto; height: 17px; 
  fill: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 15px 17px 19px 17px;
  margin-left: -10px;
  display: none;
}

/******************* FILTRES ************************/
.filter-form {
  margin-top: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  color: black;
  font-size: 18px;
  font-weight:bolder;

}

.filter-text {
  padding-top: 12px; 
  margin-right: 20px;
  margin-bottom: 20px;
}


.filter-icon {
  position: relative;
  background-color: #DEEBFF;
  color:#0065FC;
  font-size: 15px;
  padding: 17px 14px 16px 14px;
  border-radius: 50% / 50%;
  z-index: 2000;
}

.filter-button {
  margin-left: -20px;
  z-index: 1000;
  color: black;
  background-color: white;
  font-size: 17px;
  font-weight:bolder;
  padding: 11px 40px 11px 30px;
  border-width: 2px;  
  border-style:solid ;
  border-color:#D9D9D9;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: inline-block;
}

.filter-button:hover {
  color: #0065FC;
  background-color: #DEEBFF;
}

fieldset {
  padding: 0px;
  margin-bottom: 10px;
  border: 0px;
  display: inline-block;
}

.filter-info {
  color:#0065FC;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 9px 6px 9px;
  margin-right: 10px;
  border-radius: 50% / 50%;
  border-width: 1px;  
  border-style:solid ;
  border-color:#D9D9D9;
}

/******************* HEBERGEMENT ************************/

#hebergement {
   margin: 0px 40px 0px 40px;
   -ms-box-orient: horizontal;
   display: -ms-flexbox;
   display: -moz-flex;
   display: -webkit-flex;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
}

.cards, .pop-cards, .activite-cards {

  margin-right: 40px;
  border-radius: 20px;
  background-color: #F2F2F2;
  padding: 40px 40px 40px 40px;
}

.heber {
  flex: 2 100%;
  max-width: 790px;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-shrink: 3;
  gap: 30px;
}

.pop-side {
  flex: 1 100%;
  max-width: 340px;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  gap: 30px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pop-card, .heber-card, .activite-card{
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none; 
  color:black;
}

.pop-card {
  width: 340px;
  height: 150px;
  display: flex;
  flex-wrap: row wrap;
}

.heber-card {
  width: 240px;
  -ms-box-orient: horizontal;
  display:inline-flexbox;
}

.img-card-pop {
  order: 1;
  width: 125px;
  height: 140px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  padding: 5px 5px 5px 5px;
}

.img-card {
  width: 230px;
  height: 110px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  padding: 5px 5px 5px 5px;
}

.card-desc, .card-desc2 {
  order: 2;
  box-sizing: border-box;
  padding-left: 15px;

}

.card-desc2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-title2 {
  padding-top: 10px;
  
}

.card-title {
  font-size: 16px;
  font-weight:bolder;
  text-decoration: none;
}

.unchecked, .checked {
  font-size: 11px;
  padding-bottom: 10px;
}

.unchecked {
  color: #F2F2F2;
}

.checked {
  color: #0065FC;
}

.chart-icon {
  position: absolute;
  width: auto; height: 17px; 
  fill: black;
  margin-left:140px;
  display: inline-block;
}

.pop-cards {
  max-height: 580px;
}

.bottom-align {
  margin-top: auto;
}

/******************* ACTIVITE ************************/
#activite {
  margin: 40px;
}

.title-activite {
  font-size: 20px;
  font-weight: bolder;
  padding: 40px 0px 0px 40px;
  margin-bottom: -20px;
}

.activite-cards {
  width: fit-content;
  background-color: white;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.acti-block {
  width: auto;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 580px;

}

.activite-card {
  width: 45%;
  margin: 0 40px 40px 0;
  text-decoration: none;
}

.img-card-acti {
  width: 100%;
  height: calc(100% - 40px);
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card-desc-acti {
  box-sizing: border-box;
  padding: 10px 0px 0px 20px;
}

.big-card {
  height: 445px;
}

.medium-card {
  height: 240px;
}

.small-card {
  height: 165px;
}


/******************* FOOTER ************************/

footer {
  background-color: #F2F2F2;
  display: flex;
  flex-flow: wrap;
  align-content:stretch;
  gap: 15%;
  padding: 40px;
  width:auto;
}

.footer-list {
  width: auto;
  margin: 0 40px 40px 0;
}


footer ul li {
  list-style: none;
  line-height: 35px;
}

footer ul li a {
  text-decoration: none;
}