/******************* HEBERGEMENT ************************/
#hebergement {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
}
 
/******************* ACTIVITE ************************/
 .activite-cards {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


